@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema de gestión académico</h1>
    <p>Sistema para administrar la gestion de los cursos y estudiantes.</p>
</div>
